<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studenten beheren</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h1>Studenten beheren</h1>

  <h3>Voeg een student toe</h3>
  <form id="addStudentsForm">
    <input id="studentnummer" type="text" placeholder="Studentnummer" name="studentnummer" required>
    <input id="name" type="text" placeholder="Naam" name="name" required>
    <select title="class" id="class" name="classes">
        <!-- classes will be added dynamically -->
    </select>
    <button type="submit">Opslaan</button>
</form>

<h3>Overzicht teams</h3>
<select title="teams" id="teamSelect">
    <option value="">Selecteer een team</option>
    <!-- Teams will be added dynamically -->
</select>

<h3>Overzicht klassen</h3>
<select title="classes" id="classSelect">
    <option value="">Selecteer een klas</option>
    <!-- Classes will be added dynamically -->
</select>


<h3>Overzicht alle studenten</h3>
     <table id="studentTable" border="1">
         <thead>
             <tr>
                 <th>Studentnummer</th>
                 <th>Naam</th>
                 <th>Klas</th>
                 <th>Datum ingevuld</th>
                 <th>Action Type</th>
                 <th>Team</th>
                 <th>Ingedeeld door</th>
                 <th>Acties</th>
             </tr>
         </thead>
         <tbody>
             <!-- De tabelrijen worden hier toegevoegd -->
         </tbody>
     </table>
<script>
// function to fill the table with student data
function loadStudents() {
            $.ajax({
                type: 'GET',
                url: "{{ url_for('teacher.get_student_info') }}",
                dataType: 'json',
                success: function(data) {
                    const studentTableBody = $('#studentTable tbody');
                    studentTableBody.empty();  // Clear the table body before adding new rows

                    data.forEach(function(student) {
                        // Check for "No Data" in action_date and replace it with "nvt"
                        const studentNumber = student.student_number
                        const actionDate = student.action_date === 'No Data' ? "nvt" : student.action_date;
                        const actionType = student.action_type === 'No Data' ? "nvt" : student.action_type;
                        const teamName = student.team_name === 'No Team' ? "Niet ingedeeld" : student.team_name;
                        const tableRow = `
                            <tr>
                                <td>${student.student_number}</td>
                                <td>${student.student_name}</td>
                                <td>${student.student_class}</td>
                                <td>${actionDate}</td>
                                <td>${actionType}</td>
                                <td>${teamName}</td>
                                <td>${student.assigned_by}</td>
                                <td>
                                    <button onclick="goToDetailPage(${student.student_number})" class="aanpas-btn">Aanpassen</button>
                                    <button onclick="deleteStudent(${student.student_number})" class="verwijder-btn" data-id="${student.student_number}">Verwijderen</button>
                                </td>
                            </tr>
                        `;
                        studentTableBody.append(tableRow);
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching student data:', error);
                }
            });
        }

    function goToDetailPage(studentNumber) {
        const baseUrl = window.location.origin;
        const detailUrl = `${baseUrl}/teacher/student_detail/${studentNumber}`;
        window.location.href = detailUrl
    }

    // Function to delete a student
    function deleteStudent(studentNumber) {
        const url = `delete_student/${studentNumber}`;
        // Send a DELETE request to the server
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function(response) {
                alert('Student succesvol verwijderd');
                // Reload the students list
                loadStudents();
            },
            error: function(xhr, status, error) {
                console.error('Error deleting student:', error);
            }
        });
         // Call the function to load students on page load
       loadStudents();
    }




  $(document).ready(function() {
    let selectedTeamId = null;
    let selectedClassId = null;
      // Function to populate the dropdown with class data
      function populateClassDropdown() {
          $.ajax({
              url: " {{ url_for('teacher.get_classes') }} ", // Flask endpoint that returns the class data
              type: 'GET',
              dataType: 'json',
              success: function(data) {
                  const classSelect = $('#class');
                  classSelect.empty(); // Clear any existing options

                  // Add a default option
                  classSelect.append('<option value="">Selecteer een klas</option>');

                  // Iterate over the returned data to create options
                  data.forEach(function(classItem) {
                      const option = `<option value="${classItem.class}">${classItem.class}</option>`;
                      classSelect.append(option);
                  });

                  const classSelect2 = $('#classSelect');
                    classSelect2.empty(); // Clear any existing options

                    // Add a default option
                    classSelect2.append('<option value="">Selecteer een klas</option>');

                    // Iterate over the returned data to create options
                    data.forEach(function(classItem) {
                        const option = `<option value="${classItem.class}">${classItem.class}</option>`;
                        classSelect2.append(option);
                    });
              },
              error: function(xhr, status, error) {
                  console.error('Error fetching class data:', error);
              }
          });
        
        
        }

        function populateTeamDropdown() {
            $.ajax({
                url: " {{ url_for('teacher.get_teams') }} ", // Flask endpoint that returns the team data
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    const teamSelect = $('#teamSelect');
                    teamSelect.empty(); // Clear any existing options

                    // Add a default option
                    teamSelect.append('<option value="">Selecteer een team</option>');

                    // Iterate over the returned data to create options
                    data.forEach(function(teamItem) {
                        const option = `<option value="${teamItem.name}">${teamItem.name}</option>`;
                        teamSelect.append(option);
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching team data:', error);
                }
            });
        }

        // Function to load students based on selected class and/or team
    function loadStudentsByClassAndOrTeam(className, teamName) {
        $.ajax({
            url: "{{ url_for('teacher.get_students_by_class_and_or_team') }}", // Een enkele Flask-endpoint die beide opties aankan
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ class_name: className, team_name: teamName }),
            success: function(data) {
                const studentTableBody = $('#studentTable tbody');
                studentTableBody.empty(); // Clear the table body before adding new rows

                data.forEach(function(student) {
                    const actionDate = student.action_date === 'No Data' ? "n.v.t." : student.action_date;
                    const actionType = student.action_type === 'No Data' ? "Vragen nog niet beantwoord" : student.action_type;
                    const teamName = student.team_name === null ? "Niet ingedeeld" : student.team_name;
                    const assignedBy = student.assigned_by === null || student.assigned_by === 'No Data' ? "n.v.t." : student.assigned_by;
                    const tableRow = `
                        <tr>
                            <td>${student.student_number}</td>
                            <td>${student.student_name}</td>
                            <td>${student.student_class}</td>
                            <td>${actionDate}</td>
                            <td>${actionType}</td>
                            <td>${teamName}</td>
                            <td>${assignedBy}</td>
                            <td>
                                <button onclick="goToDetailPage(${student.student_number})" class="aanpas-btn">Aanpassen</button>
                                <button onclick="deleteStudent(${student.student_number})" class="verwijder-btn" data-id="${student.student_number}">Verwijderen</button>
                            </td>
                        </tr>
                    `;
                    studentTableBody.append(tableRow);
                });
            },
            error: function(xhr, status, error) {
                console.error('Error fetching student data:', error);
            }
        });
    }

    // Event listener for team selection change
    $('#teamSelect').change(function() {
        selectedTeamId = $(this).val();
        loadStudentsByClassAndOrTeam(selectedClassId, selectedTeamId);
    });

    // Event listener for class selection change
    $('#classSelect').change(function() {
        selectedClassId = $(this).val();
        loadStudentsByClassAndOrTeam(selectedClassId, selectedTeamId);
    });


    // Call the function to populate the dropdown on page load
    populateClassDropdown();
    
    // Call the function to populate the dropdown with the teams on page load
    populateTeamDropdown();

    // Call the function to load students on page load
    loadStudents();


      

      // add new student to the database
      $('#addStudentsForm').submit(function(event) {
          event.preventDefault();
          const studentnummer = $('#studentnummer').val();
          const name = $('#name').val();
          const class_student = $('#class').val();

          $.ajax({
              url: " {{ url_for('teacher.add_student') }} ",
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({
                  student_number: studentnummer,
                  name: name,
                  student_class: class_student
              }),
              success: function(response) {
                  alert('Student succesvol toegevoegd');
                  // Clear the form fields after successful submission
                  $('#studentnummer').val('');
                  $('#name').val('');
                  $('#class').val('');

                  // Reload the students list
                  loadStudents();
              },
              error: function(xhr, status, error) {
                  console.error('Error adding student:', error);
              }
          });
      });
  });


</script>
</body>
</html>